{%extends "base.html"%}


{%block content%}

<div class="container-fluid">

    {#
    <ul class="breadcrumb">
        <li><a href="/blog">Code Blog</a><span class="divider">/</span></li>
        <li class="active">{{self.blog_title()}}</li>
    </ul>
    #}

    <div class="page-header">
        {%block page_header%}
        <h1>{%block blog_title%} {%endblock%}<small>Hlidskialf Codes</small> </h1>
        {%endblock%}
    </div>

    <div class="metadata">
        {%block blog_metadata%}
        <div class="byline"></div>
        <div class="date"></div>
        {%endblock%}
    </div>

    {%block blog_content%}
    
    {%endblock%}
</div>
{%endblock%}
