<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}prettify/prettify.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/screen.css" rel="stylesheet" media="screen">
  </head>
  <body>

{%macro navitem(href, title, no_active=False)%}
<li class="{%if not no_active and path.startswith(href)%}active{%endif%}"><a href="{{href}}">{{title}}</a></li>
{%endmacro%}

    {%block navbar%}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/">hlidskialf.android</a>
        <ul class="nav">
          <li class="dropdown {%if path.startswith('/apps')%}active{%endif%}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {{navitem("/apps/tonepicker", "Tone Picker", True)}}
              {{navitem("/apps/alarming", "Alarming!", True)}}
              {{navitem("/apps/filer", "Filer", True)}}
              {{navitem("/apps/pomodoro", "Pomodoro", True)}}
            </ul>
          </li>
          {{navitem("/blog", "Code Blog")}}
        </ul>
      </div>
    </div>
    {%endblock%}
    
    {%block content%}
    {%endblock%}

    {%block scripts%}
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}prettify/prettify.js"></script>
    {%endblock%}

    <script>
    $(function() {
      {%block onload%}
        prettyPrint();

      {%endblock%}
    });
    </script>
  </body>
</html>

