{%extends "apps/detail.html"%}


{%block app_title%}
Tone Picker <small>MP3 Ringtones</small>
{%endblock%}

{%block app_icon%}
{{STATIC_URL}}apps/tonepicker/tonepicker.png
{%endblock%}

{%block market_url%}
http://market.android.com/details?id=com.hlidskialf.android.tonepicker
{%endblock%}

{%block app_summary%}
<p>A ringtone picker.<br>
Tonepicker does only two things: One, provides a ringtone selection dialog when OTHER APPS are choosing ringtones. And two, provides quick sliders for the volume streams. That is all.
</p>
{%endblock%}

{%block app_price%}
Free
{%endblock%}

{%block app_description%}
<p>
Use Tone Picker to choose any of your local music for any of your Ringtones, Notifications, or Alarms.<br>
Use in conjunction with the system settings or any other app's settings to customize your alerts.<br>
Splash screen containing all the system volume sliders and buttons to quick-set phone ring, notification or alarm tone.<br>
Tone Picker will always be free.
</p>
{%endblock%}


{%set hide_features=True %}

{%block app_screenshots%}
    {{app_screenshot("apps/tonepicker/ss_complete_using.png", span=4)}}
    {{app_screenshot("apps/tonepicker/ss_splash.png", span=4)}}
    {{app_screenshot("apps/tonepicker/ss_tonepicker.png", span=4)}}
{%endblock%}


{%block app_downloads%}
    {{app_download("apps/tonepicker/TonePicker-0.9.2.1.apk","Tonepicker 0.9.2.1")}}
{%endblock%}
